<div class="parent">
    <div class="child">
        <h1 style="font-weight: 700; letter-spacing: .4px;" >MY EMPLOYEE DATA IS MY ASSET'S 
            🙂</h1>
    </div>
    <div class="child">
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="../../assets/c1.png" style="width: 290px;height: 290px; opacity: .9;" data-interval="10000" alt="...">
              </div>
              <div class="carousel-item">
                <img src="../../assets/c2.png" style="width: 290px;height: 290px;opacity: .9" data-interval="10000" alt="...">
              </div>
              <div class="carousel-item">
                <img src="../../assets/c3.png" style="width: 290px;height: 290px;opacity: .9" data-interval="10000" alt="...">
              </div>
            </div>
          </div>
    </div>
</div>
