<div class="parent">

    <div class="WelcomeNote">
        <div>
            <img src="../../../assets/bowl.png" style="width: 200px; height: 200px;" alt="">
        </div>
        <div>
            <h1>Welcome to TheMealDB</h1>
            <p>Welcome to TheMealDB: An open, crowd-sourced database of Recipes from around the world.
                We also offer a free <span style="color: rgb(248, 248, 133);font-weight: 600;">JSON API</span> for anyone wanting to use it, with additional features for subscribers.</p>
                <p  style="color: #e74c3c;"> Total Meals: 283 Total Ingredients: 574 Images: 283</p>
        </div>
        <div>
            <img src="../../../assets/bowl.png" style="width: 200px; height: 200px;" alt="">
        </div>
    </div>
    <!-- search navbar component -->
    <app-srchnavbar></app-srchnavbar>

    <!-- render all product  -->
    <app-renderpage2></app-renderpage2>

    <div class="footer">
        <div>
            <h3>© 2022 TheMealDB
                Proudly built in the UK <img src="https://www.emojibase.com/resources/img/emojis/apple/1f1ec-1f1e7.png" alt="flag" style="width: 40px;height: 40px;"> </h3>
        </div>
        <div>
           <h3 style="font-weight: 500;"> The CocktailDB / The AudiDB / The SportsDB</h3>
        </div>
        <div>
            <ul>
                <li routerLink='/about'>About</li>
                <li>Faq</li>
                <li>Contact</li>
            </ul>
        </div>
    </div>
</div>