<div class="parent">
    <img src="../../../assets/f1.jpg" alt="">
    <button mat-button class="foodBtn" routerLink='/home' style="right: 5px;position: absolute;">Home</button>
    <div class="loginField">
        <form>
            <input type="text" placeholder="Email ID">
            <br>
            <input type="text" placeholder="Password">
            <br>
            <div style="display: flex; justify-content: space-between;">
                <button mat-button class="foodBtn">Register</button>
                <h4 style="letter-spacing: 1.5px; color: red;">Don't have account ? <a routerLink='/register' style="color: rgb(88, 136, 15); cursor: pointer;text-decoration: none">Register</a></h4>
            </div>
        </form>
    </div>
</div>
