/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300&family=Lobster&family=Open+Sans:wght@300&family=PT+Sans+Narrow&family=Vujahday+Script&family=Yanone+Kaffeesatz&display=swap');

*{
    font-family: 'Dongle', sans-serif;
font-family: 'Lobster', cursive;
font-family: 'Open Sans', sans-serif;
font-family: 'PT Sans Narrow', sans-serif;
font-family: 'Vujahday Script', cursive;
font-family: 'Yanone Kaffeesatz', sans-serif;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
