<app-srchnavbar></app-srchnavbar>
<div class="parent">
    <div class="child">
        <h1>About</h1>
        <p>TheMealDB was built in 2016 to provide a free data source api for recipes online <br>
            in the hope that developers would build applications and cool projects ontop of it.
           <br> TheMealDB originated on the Kodi forums as a way to browse recpies on your TV.</p>
            <p>Kodi Add-on</p>

        <div style="text-align: center;">
            <img src="https://raw.githubusercontent.com/zag2me/script.screensaver.themealdb/master/icon.png" alt="">
        </div>
    </div>
</div>
<div class="footer">
    <div>
        <h3>© 2022 TheMealDB
            Proudly built in the UK <img src="https://www.emojibase.com/resources/img/emojis/apple/1f1ec-1f1e7.png" alt="flag" style="width: 40px;height: 40px;"> </h3>
    </div>
    <div>
       <h3 style="font-weight: 500;"> The CocktailDB / The AudiDB / The SportsDB</h3>
    </div>
    <div>
        <ul>
            <li routerLink='/about'>About</li>
            <li>Faq</li>
            <li>Contact</li>
        </ul>
    </div>
</div>
