<div class="parent">
    <div class="child" (click)='onCategoryClick("business")'>
        <div class="inner-child">
            <p>Business</p>
        </div>
    </div>
    <div class="child" (click)='onCategoryClick("entertainment")'>
        <div class="inner-child">
            <p>Entertainment</p>
        </div>
    </div>
    <div class="child" (click)='onCategoryClick("general")'>
        <div class="inner-child">
            <p>General</p>
        </div>
    </div>
    <div class="child" (click)='onCategoryClick("health")'>
        <div class="inner-child">
            <p>Health</p>
        </div>
    </div>
    <div class="child" (click)='onCategoryClick("science")'>
        <div class="inner-child">
            <p>Science</p>
        </div>
    </div>
    <div class="child" (click)='onCategoryClick("sports")'>
        <div class="inner-child">
            <p>Sports</p>
        </div>
    </div>
    <div class="child" (click)='onCategoryClick("technology")'>
        <div class="inner-child">
            <p>Technology</p>
        </div>
    </div>
</div>
